/* Reset
============================== */

article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-size: 1em;
    vertical-align: baseline;
    background-color: transparent;
}
a {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
    vertical-align: baseline;
    background-color: transparent;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
mark {
    background-color: #FF9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
abbr[title], dfn[title] {
    border-bottom: 1px dashed #CCC;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    height: 75px;
    border-bottom: 1px solid #FFF;
    background-color: #FFF;
}
header .container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.page footer {
    margin: 0 auto;
    width: 980px;
}
/* Global Styles
============================== */

body {
    background-color: #FFF;
    color: #333;
    font: normal 1em/1.4 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a:link    { color: #007DCC; }
a:visited { color: #005588; }
a:hover,
a:active  { color: #000; }


/* Layout
============================== */

.page {
    font-size: .8em;
}
    .page .container {
        width: 980px;
        margin: 0 auto;
    }

h1.title {
    font-size: 25px;
}
.backlink {
    padding: 10px 0;
}

/* ToC */

#toc {
    /*position: fixed;*/
    /*top: 100px;*/
    width: 100px;
    /*padding: 15px 0 0;*/
    float:left;
}
#toc ul li {
    list-style: none;
}

/* Documentation */

#docs {
    width: 880px;
    color: #666;
    line-height: 1.5;
    float: left;
}
    #docs h1 {
        margin: 0 0 1em;
        border-bottom: 1px solid #DDD;
        color: #333;
        line-height: 1;
        font-weight: normal;
        font-size: 2em;
    }
    #docs h2 {
        color: #000;
        font-weight: bold;
        font-size: 1.45em;
    }
    #docs h3 {
        color: #000;
        font-weight: bold;
        font-size: 1.15em;
    }
    #docs p {
        margin: 0 0 1em;
        text-align: justify;
    }
    #docs ul,
    #docs ol {
        text-align: justify;
    }
        #docs ul li,
        #docs ol li {
            margin-bottom: .75em;
        }
        #docs ul li { list-style: none; }
        #docs ol li { list-style: none; }

    #docs dl {
        margin: 0 0 1em;
    }
        #docs dl dt {
            margin: 1.25em 0 0;
            color: #333;
            font-weight: bold;
        }
        #docs dl dt .code {
            display: inline-block;
            width: 1.9em;
            text-align: right;
        }
        #docs dl dd {
            margin: .5em 0 1.25em 3em;
        }

    #docs hr {
        height: 1px;
        margin: 2em 0;
        border: 0;
        border-bottom: 1px solid #EEE;
        padding: 0;
    }
    #docs strong {
        color: #333;
    }
    #docs pre {
        display: block;
        margin: 1.75em 0;
        border-left: 1px solid #EEE;
        padding: 1em 20px;
        background-color: #F7F7F7;
        color: #333;
        overflow: auto;
    }
    #docs code {
        padding: .2em .5em;
        background-color: #EEE;
        color: #000;
        font: 11px/1.6 "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, Monospace;
    }

    #docs nav a.prev {
        float: left;
        color: #999;
    }
    #docs nav a.next {
        float: right;
        color: #000;
        font-weight: bold;
    }
#docs .obj li a {
    font: 1.2em 'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#footer {
    clear: both;
    width: 980px;
    margin: 0 auto;

}