<!DOCTYPE html>

<html lang="en">
<head>
{% block starthead %}{% endblock starthead %}
<meta charset="{{ resource.meta.charset }}">
<meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

<title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>


<meta name="description" content="{{ resource.meta.description }}">
<meta name="author" content="{{ resource.meta.author }}">
{% block css %}
<link rel="stylesheet" href="{{ media_url('css/global.css') }}" media="all">
{% endblock css %}

{% block headjs %}
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% endblock headjs %}
{% block endhead %}{% endblock endhead %}

</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
{% block content %}
    <div class="page">
        <div class="container">
        {% block container %}
            <header class="banner clearfix">
            {% block header -%}
            <a class="home" href="{{ site.content.url }}"><h1 class="title">{{ site.meta.name }}</h1></a>
            {%- endblock %}
            </header>
            {% block nav %}
            {% from "nav.j2" import render_nav with context %}
            {{ render_nav(menu) }}
            {% endblock %}  
            <div id="docs">
            {% block main %}
            {% endblock main %}
            </div>
        {% endblock container %}
        </div>
        <footer>
            Powered by <a href="http://github.com/hyde/hyde">hyde</a>.
        </footer>
    </div>
{% endblock content%}
<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.fhlabs.com/" : "http://piwik.fhlabs.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 18);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://piwik.fhlabs.com/piwik.php?idsite=18" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>








    
