{% extends "base.j2" %}
{% block main %}
<a class="home" href="{{ site.content.url }}">Back Home</a>
{% block page_title %}<h2 class="title">{{ resource.meta.title }}</h2>{% endblock %}
{% filter markdown|typogrify -%}
<ul class="listing clear">
{% for res in resource.node.walk_resources_sorted_by_objective() %}
    {% if not res.meta.category == now %}
        <p><b>{{ res.meta.category }}</p><b>
    {% endif %}
    {% set now = res.meta.category %}
    <li>
        <a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
    </li>
{% endfor %}
</ul>
{% endfilter -%}
{% endblock %}


