{% extends "base.j2" %}
{% block content %}
{% filter markdown|typogrify -%}
{% mark post -%}
    {% block post -%}
    {%- endblock %}
{%- endmark %}
<ul class="objlist nav">
{% for res in resource.node.walk_resources_sorted_by_objective() %}
    {% set now = res.meta.category %}
    <li>
        <a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
    </li>
{% endfor %}
</ul>
{% endfilter -%}
{% endblock %}


