{% macro render_nav(menu, cls=None) -%}
<a href="/"><h1 class="title">{{ site.meta.name }}</h1></a>
{% if menu -%}
    {% set cats = ["ex423"] %}
    {% for cat in cats %}
        <ul class="nav nav-list left-nav"><li><a href="/{{ cat }}">{{ cat }}</a></li></ul>
    {% endfor %}
{%- endif %}
{%- endmacro %}
